.section-btn.active {
  background-color: aqua; 
  color: black;
}

.main-header {
  text-align: center;
}

.section-main {
  display: flex;
  flex-direction: column;
}

.section-btn {
  background-color: bisque; 
  color: black;
  height: 32px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}


.luas-header {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  background: cornflowerblue;
  text-align: center;
}

.luas-content{
  display: flex;
  flex-direction: column;
}

.luas-segitiga-img {
  background-image: url(https://asset.kompas.com/crops/ZwOr6ZrEtAtid5uZmYhDFijYPa4=/175x161:1573x1094/750x500/data/photo/2022/03/09/62288763c6d64.png);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  align-self: center;
}

.luas-jajargenjang-img {
  background-image: url(https://awsimages.detik.net.id/community/media/visual/2021/09/20/jajar-genjang.jpeg?w=576);
  height: 300px;
  width: 650px;
  background-size: cover;
  background-position: center;
  align-self: center;
}



.luas-form-header {
  text-align: center;
}

.input-wrapper{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-wrapper>input {
  width: 65%;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.hitung {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.main-content {
  display: flex;
}

.main-content>aside {
  flex: 1;
}